.form-add-product-body {
  background-color: white;
  width: 60em;
  padding: 20px;
  border-radius: 20px;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #b9b9b9;
  margin: 1em 0;
  padding: 0;
}
.save-btn {
  float: right;
  width: 120px;
  margin-right: -8px;
  background: white !important;
  border: 1px solid #0191cd !important;
  color: #0191cd !important;
}
.cancel-btn {
  width: 120px;
  margin-left: -10px;
  background: #0191cd !important;
  border: white;
  color: white;
}
.add-product-card-footer {
  margin-top: 20px;
  width: 100%;
}
button.button-add-product {
  background: white !important;
  border: 1px solid #0191cd !important;
  color: #0191cd !important;
}
.assign-ingredient {
  background: white !important;
  border: 1px solid #0191cd !important;
  color: #0191cd !important;
}
.assign-ingredient,
.view-product-ingredient {
  width: 100%;
  text-transform: capitalize;
}

/* dzadzadza */

.bestseller:before {
  content: "";
  z-index: -1;
  overflow: hidden;
  transform: rotate(-135deg);
  width: 120px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 34px;
  right: 47px;
  clip-path: polygon(
    120px 20px,
    90px -10px,
    30px -10px,
    0px 20px,
    10px 30px,
    110px 30px
  );
  height: 20px;
  width: 120px;
}
.bestseller:after {
  content: "unavailable";
  z-index: 1;
  overflow: hidden;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  width: 120px;
  display: block;
  background: red !important;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 20px;
  right: 32px;
  clip-path: polygon(
    120px 20px,
    90px -10px,
    30px -10px,
    0px 20px,
    10px 30px,
    110px 30px
  );
}

/* NEWLY ADDED */

.row {
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f5ebdc;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 1.5rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.5rem;
}
.iq-my-cart:first-child {
  margin-top: 1.5rem;
}
.bg-soft-primary {
  color: #d35f10;
  background-color: rgba(234, 106, 18, 0.2) !important;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.profile-img4 {
  position: relative;
  margin-left: 8px;
  padding: 0.75rem 0;
}

.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}

.text-end {
  text-align: right !important;
}
.me-4 {
  margin-right: 1.5rem !important;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}
img,
svg {
  vertical-align: middle;
}
.mb-0 {
  margin-bottom: 0 !important;
}

p {
  margin-top: 0;
}
.rounded {
  border-radius: 1.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.mt-5 {
  margin-top: 2rem !important;
}
.border-primary {
  border-color: #ea6a12 !important;
}

.border {
  border: 1px solid #e3e1e1 !important;
}
.text-center {
  text-align: center !important;
}

.mt-3 {
  margin-top: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}
.d-flex {
  display: flex !important;
}
.h6,
h6 {
  font-size: 1rem;
}
.btn-primary {
  color: #fff;
  background-color: #ea6a12;
  border-color: #ea6a12;
  box-shadow: 0 0 0 0 transparent;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.75;

  text-align: center;
  vertical-align: middle;
  cursor: pointer !important;

  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;

  text-transform: capitalize;
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 900;
}
.rounded-pill {
  border-radius: 50rem !important;
}
.addToCartBtn {
  background-color: #ea6a12b3;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  border-color: #ea6a12b3;
  padding: 5px 15px;
  font-weight: 700;
}
.addToCartBtn:hover {
  background-color: white;
  color: #ea6a12b3;
  border-radius: 25px;
  font-size: 18px;
  border-color: #ea6a12b3;
}
.productQtContainer {
  width: 100%;
  margin-bottom: 5%;
}
#productPrice {
  float: left;
  font-weight: 800;
  font-size: 23px;
  color: #ea6a12b3;
  margin-right: 8%;
}
.minusQtProduct,
.plusQtProduct {
  width: 20%;
  margin: 0 3%;
  border-radius: 10px;
}
span.MuiAppBar-colorPrimary {
  color: #ea6a12b3 !important;
}

.d-flex.align-items-center.profile-content {
  margin-left: 90px;
}
.img-fluid.rounded-pill.avatar-115 {
  width: 55px;
  /* margin-top: 30px; */
  margin-left: 10px;
}
.relative {
  position: relative;
}
.img-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#productImgContainer {
  border-radius: 25px;
  background-size: 50%;
}
.btn-primary {
  color: #fff;
  background-color: #ea6a12 !important;
  border-color: #ea6a12;
  box-shadow: 0 0 0 0 transparent;
}
.border-primary {
  border-color: #ea6a12 !important;
}
.heading-title {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #ea6a12 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}
.h6,
h6 {
  font-size: 1rem;
}
h6.darkBlue {
  color: #07143b !important;
}
.couponCodeContainer {
  display: flex;
}
.htmlForm-check-label {
  margin-right: 40px;
  margin-top: 25px;
}
.MuiTabs-flexContainer button {
  color: #ea6a12 !important;
}
.PrivateTabIndicator-colorSecondary-5,
.PrivateTabIndicator-colorPrimary-8 {
  background-color: #ea6a12 !important;
}
.tabBurgers {
  background-image: url("../../../../assets/img/brand/burger.jpg") !important;
}
.tabPizzas {
  background-image: url("../../../../assets/img/brand/pizza.jpg") !important;
}
.tabSodas {
  background-image: url("../../../../assets/img/brand/soda.jpg") !important;
  background-size: 35% !important;
}
.MuiTabs-flexContainer {
  height: 150px;
}
.MuiTabs-flexContainer button {
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 10px;
  padding-top: 100px !important;
}
.xTimes {
  font-weight: bold;
  margin-right: 5px;
}
.card-header {
  background-color: rgba(0, 0, 0, 0.03);
}
#outOfStockProduct {
  background-image: url("../../../../assets/img/brand/out_of_stock.png") !important;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 90px;
  filter: contrast(100%) brightness(85%) opacity(0.5);
}
.outOfStockProductImg {
  opacity: 0.5;
}
button#disabledBtn {
  background-color: #e7e5e5 !important;
  border-color: #3a3a3a !important;
  color: black;
}
span#productName {
  text-align: center;
  font-size: medium !important;
  padding-top: 50px;
  height: 105px;
}
.productContainer {
  margin-bottom: 50px;
}
#addToCardContainer {
  text-align: center !important;
  margin-bottom: 30px;
}
.rounded-pill.bg-soft-primary.iq-my-cart {
  margin-bottom: 25px;
}
.btn-primary:hover {
  color: #fff;
  background-color: #ff8c3c !important;
  border-color: #ff8c3c !important;
}
.col-4 {
  width: 50% !important;
  max-width: 50% !important;
}
.MuiPaper-rounded {
  border-radius: 35px !important;
}
#productDescription {
  text-align: center;
  font-size: 1.1rem !important;
  margin-top: -10px;
  height: 70px;
}
#productDescription span {
  font-size: 1.1rem !important;
}
.MuiPaper-elevation1 {
  box-shadow: unset !important;
}
.MuiAppBar-colorDefault {
  background-color: white !important;
}
span[class*="PrivateTabIndicator"],
span[class^="PrivateTabIndicator"],
span.MuiTabs-indicator {
  background-color: #ff8c3c !important;
}
.MuiRadio-colorSecondary.Mui-checked {
  color: #ff8216 !important;
}
/* .MuiTabs-scroller.MuiTabs-scrollable span {
  background-color: #ff8c3c !important;
} */
.MuiTabs-scroller.MuiTabs-scrollable {
  align-items: center;
}
.MuiAppBar-root,
.MuiTabs-scroller.MuiTabs-scrollable {
  border-radius: 25px;
}
.tab-body {
  margin-top: 30px;
}
#bannerContainer {
  margin: 25px 25px;
}

#searchBar {
  border-radius: 15px;
  height: calc(2em + 1rem + 10px);
  width: 96%;
  padding-left: 50px;
}
input {
  background-image: url("../../../../assets/img/brand/search.png") !important;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: center;
  padding-left: 20px;
}
#restaurantLogo {
  width: 100px;
  margin: 10px;
}
#restaurantLogoContainer {
  margin-left: 50px;
}
.card {
  margin-top: 25px;
  position: fixed;
  top: 75px;
  bottom: 30px;
  width: 30%;
  right: 32px;
  overflow-y: scroll;
}
.MuiPaper-root {
  width: 90% !important;
  margin-left: 63px;
}
#bannerContainer img {
  width: 89%;
  margin-left: 67px;
}
.tab-body {
  margin-left: -75px;
}
.MobileOnly {
  display: none;
}

@media only screen and (max-width: 767px) {
  #cartContainer {
    display: none;
  }
  .app-body {
    margin-left: -27%;
  }
  .tab-body {
    margin-left: -55px !important;
    margin-right: -55px;
  }
  .DesktopTabletOnly {
    display: none;
  }
  .MobileOnly {
    display: block;
  }
  #shoopingCartIconContainer {
    position: fixed;
    bottom: 25px;
    right: 20px;
  }
  #shoopingCartIconContainer img {
    width: 30%;
  }
  div.MuiPaper-root {
    width: 95% !important;
    /* margin-left: 63px; */
  }
  #header {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  #header input {
    width: 75%;
    margin-left: 100px;
  }
  #profileContainer {
    position: absolute;
    top: 2%;
    right: 6%;
  }
  .MuiTabs-flexContainer button {
    background-size: 75px !important;

    background-position-y: 25px !important;
  }
  #addToCardContainer {
    margin-left: 13px;
  }
  .card {
    margin-top: 85px !important;
    position: absolute !important;
    top: 0% !important;
    left: 0% !important;
    right: unset !important;
    bottom: 30px !important;
    width: unset !important;
    overflow-y: scroll;
    /* padding-top: 30px; */
  }
  .my-cart-body {
    padding-bottom: 30px;
  }
  #closeModalButton {
    font-size: 22px;
    margin-right: 0px;
    margin-top: -10px;
    font-family: cursive;
  }
  #cartQuantityMobile {
    font-size: 14px;
    position: absolute;
    top: -15%;
    left: 85%;
    padding: 2px 8px;
    background-color: #502314;
    border-radius: 50px;
    color: white;
  }
  #restaurantLogo {
    width: 80px;
    margin: -10px 10px 10px 10px;
  }
  .row {
    width: 100%;
    margin-left: 7px !important;
    margin-right: 7px !important;
  }
  #header {
    width: 135% !important;
    margin-left: unset !important;
  }
}
#ProductsFilterContainer {
  margin-top: 170px;
}
.tab-body,
.tab-body .category-tab,
#ProductsFilterContainer,
.parent-sous-tab {
  background: #f5ebdc !important;
}
body {
  background-color: #f5ebdc !important;
}
.MuiPaper-root {
  background-color: unset !important;
}
.MuiTypography-h5 {
  color: rgb(80, 35, 20);
  font-family: Flame;
  margin: 0px;
  text-transform: none;
  font-weight: 700 !important;
  font-size: 1.55rem !important;
  line-height: 2rem !important;
  text-align: center;
}
.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorDefault.MuiPaper-elevation4 {
  background-color: #ffffff !important;
  align-items: center;
  text-align: center;
}
form.makeStyles-root-1 {
  background-color: #f5ebdc !important;
}
#cartDesktopBtn span {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: -3px;
}
#desktopCartContainer {
  float: right;
  margin-top: -80px;
  margin-right: 60px;
}
#restaurantLogoContainer {
  text-align: center;
}
div[tabindex="-1"] {
  border: unset !important;
  padding: unset !important;
  box-shadow: unset !important;
  background-color: unset !important;
}
.MuiIconButton-colorSecondary {
  color: #f5ebdc !important;
}
#header {
  padding-top: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background: #f5ebdc;
  margin-left: -35px;
}
.couponCodeContainer form {
  background-color: #f5ebdc !important;
}
#cartDesktopBtn {
  background-color: #502314;
  border-radius: 55px;
  padding: 5px 15px;
}
#cartDesktopBtn svg {
  margin-top: -5px;
}
#emptyCartText {
  color: rgb(43, 2, 0);
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  font-family: "Flame Sans", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0px 0px 1rem;
  text-transform: none !important;
}
#cartBtnMobile {
  background-color: #ff2828;
  font-size: 17px;
  color: white;
  font-weight: 600;
  font-family: "Flame Sans", "Helvetica Neue", Helvetica, Arial, Verdana,
    sans-serif;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 10px 0px;
}
div#ProductIngredientChooserContainer {
  border: 2px solid #000 !important;
  padding: 16px 32px 24px !important;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%) !important;
  background-color: #fff !important;
}
