.dataTable-containers {
       background: white;
       border: 1.4px solid #0191cd;
       border-radius: 4px;
       box-shadow: 0px -3px 13px #6d666669;
       margin-bottom: 2%;
}
.floating-register-button {
       position: fixed;
       top: 10%;
       right: 0.5%;
}
