label#upload-image-restaurant {
       font-weight: 400;
       color: white;
       text-align: center;
       vertical-align: middle;
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       background-color: transparent;
       border: 10px 20px 20px 20px solid transparent;
       font-size: 0.875rem;
       line-height: 1.5;
       background: #0191cd;
       border-radius: 0.25rem;
       transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
              box-shadow 0.15s ease-in-out;
       transition-property: color, background-color, border-color, box-shadow;
       transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
       transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
       transition-delay: 0s, 0s, 0s, 0s;
       padding: unset;
       height: 30px;
       margin-right: 10px;
       max-width: unset;
       width: 224px !important;
       display: flex;
       align-items: center;
       justify-content: center;
}
label#upload-image-restaurant:hover {
       color: #0191cd;
       border-color: rgb(75, 243, 110);
       background: white;
       box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       cursor: pointer;
}

.accept-Button {
       background-color: white !important;
       color: #0191cd;
       border-color: #0191cd;
}
.accept-Button:hover {
       color: #0191cd;
       border-color: #0191cd;
}
button.MuiButtonBase-root.MuiFab-root.MuiFab-secondary {
       background-color: white !important;
       color: #0191cd;
       border: 1.7px solid #0191cd;
}
