.vertiacal-menu-tab {
       width: 87%;
}
.MuiTabs-root.makeStyles-tabs-133.MuiTabs-vertical [role='tabpanel'] {
       display: none;
}
.add-category-menu {
       width: 152px;
       margin-right: -13px;
}
.row-tab-menu {
       border-bottom: 2px solid #d3d3dc;
       padding-bottom: 20px;
}
.card-menu-view {
       margin-bottom: 20px;
}
/* badge banned  */

.bestseller:before {
       content: '';
       z-index: -1;
       overflow: hidden;
       transform: rotate(-135deg);
       width: 120px;
       display: block;
       background: #79a70a;
       background: linear-gradient(#9bc90d 0%, #79a70a 100%);
       box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
       position: absolute;
       top: 34px;
       right: 47px;
       clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px, 110px 30px);
       height: 20px;
       width: 120px;
}
.bestseller:after {
       content: 'unavailable';
       z-index: 1;
       overflow: hidden;
       font-size: 10px;
       font-weight: bold;
       color: #fff;
       text-transform: uppercase;
       text-align: center;
       line-height: 20px;
       transform: rotate(45deg);
       width: 120px;
       display: block;
       background: red !important;
       background: linear-gradient(#9bc90d 0%, #79a70a 100%);
       box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
       position: absolute;
       top: 23px;
       right: -13px;
       clip-path: polygon(120px 20px, 90px -10px, 30px -10px, 0px 20px, 10px 30px, 110px 30px);
}

.product-card-view.bestseller {
       min-width: 14em;
}

.edit-product-menu {
       width: 35em;
}
.makeStyles-root-25 {
       background-color: #f0f0fa !important;
}
