.MuiButton-outlinedPrimary {
       color: #2191cc !important;
       border: 1px solid #2191cc !important;
       margin-bottom: 10px !important;
}
.makeStyles-noMaxWidth-142 {
       max-width: none;
       font-size: 14px;
}
.bold-actions {
       font-weight: bold;
}
.unactivate {
       color: red;
}

.active_tag {
       background-color: #2ec52e !important;
       color: white !important;
       min-width: 98px;
}

.unactive_tag {
       background-color: red !important;
       color: white !important;
       min-width: 98px;
}
