body,
html {
       text-transform: capitalize;
}
.save-button button.btn.btn-secondary {
       float: right;
       color: #0191cd;
       background-color: white !important;
       border: 1px solid #0191cd;
       width: 150px;
       border-radius: 5px;
}
.cancel-button button.btn.btn-secondary {
       float: left;
       color: white;
       width: 150px;
       border-radius: 5px;
       background: #0191cd !important;
}
.modal-footer {
       display: block;
}

.add-category-btn {
       position: absolute;
       right: 0;
       margin-right: 35px;
}
.add-category-btn button {
       background: #19e419 !important;
       color: white;
       text-transform: capitalize;
       width: 14em;
}
label#upload-image-filial:hover {
       color: white;
       border-color: rgb(75, 243, 110);
       background: #3dd800;
       box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       cursor: pointer;
}
label#upload-image-filial {
       font-weight: 400;
       color: white;
       text-align: center;
       vertical-align: middle;
       box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
       background-color: transparent;
       border: 10px 20px 20px 20px solid transparent;
       font-size: 0.875rem;
       line-height: 1.5;
       background: #31aa01;
       border-radius: 0.25rem;
       transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
       transition-property: color, background-color, border-color, box-shadow;
       transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
       transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
       transition-delay: 0s, 0s, 0s, 0s;
       padding: unset;
       margin-left: 15px;
       width: 400px !important;
       height: 40px !important;
       display: flex;
       align-items: center;
       justify-content: center;
}
.save-btn {
       float: right;
       width: 120px;
       margin-right: -8px;
       background: white !important;
       border: 1px solid #0191cd !important;
       color: #0191cd !important;
}
.cancel-btn {
       width: 120px;
       margin-left: -10px;
       background: #0191cd !important;
       border: white;
       color: white;
}
.container-fluid {
       margin-bottom: 22px;
}
.tab-body {
       min-height: 38em;
       background: #f0f0fa;
}
.tab-body .category-tab {
       background: #f0f0fa;
}

.image-category img {
       width: 12em;
       height: 12em;
       border: 1px solid #0191cd;
       border-radius: 10px;
       margin-left: 1.5em;
}
hr {
       display: block;
       height: 1px;
       border: 0;
       border-top: 2px solid #ccc;
       border-radius: 100em;
       margin: 1em 0;
       padding: 0;
}

/* .add-category-text{
     
} */
.add-category-icon {
       margin-left: -12px;
}
.add-Product-icon {
       margin-left: -12px;
}
.add-Product-modal .modal-content {
       margin-left: -10em;
       width: 61em;
       border-radius: 10px;
       padding: 10px;
}

.parent-sous-tab {
       background: #f0f0fa;
}
.makeStyles-root-35 {
       width: 100%;
       flex-grow: 1;
       background-color: #f0f0fa !important;
}

.MuiAppBar-colorPrimary {
       color: #f00 !important;
       background-color: #ffffff !important;
       /* width: 96%; */
       margin-left: 20px;
       width: 109.9em;
}
.makeStyles-root-25,
.makeStyles-root-448 {
       background-color: #f0f0fa !important;
}
