.update_modal_body .admin-details-button-modify {
       background-color: white;
       color: #0191cd;
       border: 1px solid #0191cd;
}
.update_modal_body .admin-details-button-modify:hover {
       background-color: #0191cd;
       color: white;
}
.update_modal_body .MuiInput-underline:after {
       left: 0;
       right: 0;
       bottom: 0;
       content: '';
       position: absolute;
       transform: scaleX(0);
       transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
       border-bottom: 2px solid #0191cd !important;
       pointer-events: none;
}
.modal-footer {
       display: block !important;
}
.modal-footer .accepted-button {
       float: right;
       background-color: white !important;
}
.modal-footer .cancel-button {
       background-color: #0191cd;
}

.update-admin-modal-input .MuiInputBase-root {
       color: rgba(0, 0, 0, 0.87);
       cursor: text;
       display: inline-flex;
       position: relative;
       font-size: 1rem;
       box-sizing: border-box;
       align-items: center;
       font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
       font-weight: 400;
       line-height: 1.1876em;
       letter-spacing: 0.00938em;
       min-width: 17em;
       margin-bottom: 24px;
}
#standard-basic-helper-text {
       margin-bottom: 10px;
}
