img#filial-preview {
       vertical-align: middle;
       border-style: none;
       width: 3em;
       border-radius: 50%;
       height: 3em;
}

.Filial-Edit-Button-Save .MuiButton-label {
       margin-right: -4em;
       margin-top: 13px;
}
.Filial-Edit-Button-Cancel .MuiButton-label {
       margin-left: -2em;
       margin-top: 13px;
}
.button.MuiButtonBase-root.MuiIconButton-root.makeStyles-expand-11 {
       outline: none;
}
.MuiButton-label {
       text-transform: capitalize;
       height: 27px;
}
button:not(:disabled),
[type='button']:not(:disabled),
[type='reset']:not(:disabled),
[type='submit']:not(:disabled) {
       cursor: pointer;
       outline: none;
}
.expand-icon > svg.MuiSvgIcon-root {
       margin-bottom: 22px;
}
.assgin_modal {
       display: flex;
       align-items: center;
       justify-content: center;
}
.assgin_modal .modal-body {
       width: 54em;
       height: 50em;
       overflow: scroll;
}
.assgin_modal.modal-dialog .modal-content {
       width: 54em;
       height: 50em;
}
.react-kanban-column > div:nth-of-type(2) {
       min-height: 400px !important;
       overflow-y: scroll;
}
.react-kanban-column[data-rbd-draggable-id='column-draggable-1'] {
       margin-right: 90px;
}
